# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
~$*
*~
*.sass-cache
*.json

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.buildpath
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
03.asset
runtime
.settings
.hg
.svn
.CVS
.idea